<ion-view view-title="Efeitos ">  
  <ion-content>


  <!--  Efeito-->
  <div id="world">

  <div id="floor">floor</div>

  <div id="dude">
    <div id="legl" class="leg"></div>
    <div id="legr" class="leg"></div>
    <div id="body">ಠ益ಠ</div>
  </div>

  <div id="girl">
    <div id="arm1"></div>
    <div id="arm2"></div>
    <div id="hip1">
      <div id="knee1">
      </div>
    </div>

    <div id="hip2">
      <div id="knee2">
      </div>
    </div>

  </div>
  </ion-content>

  </ion-view>