<ion-view view-title="App Web Imóveis ">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/tiririca.jpg">
        <h2> DR Tiririca </h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/home_icon.png">
        <p>
        
          
          Aplicativo Catálogos de Remédios.
          
        </p>
        <a href= "http://www.fatecriopreto.edu.br" class="button button-block button-balanced">
          Visite o Site
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
