<ion-view view-title="App Web Remédios ">  
 

 
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/thales_n.jpg">
        <h2>Thales Alonso</h2>
        <p>Consultor em Estratégia de mercado</p>
      </div>

      <div class="item item-avatar">
        <img src="img/fernando.jpg">
        <h3>Fernando Almeida</h3>
        <p>Arquiteto e Consultor de midias digitais </p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/casa.png">
        <p>
        
          
          Aplicativo Catálogos de Remédios.
          
        </p>
        <a href= "http://www.fatecriopreto.edu.br" class="button button-block button-balanced">
          Visite o Site
        </a>
      </div>

    </div>
  </ion-content>
  
</ion-view>
